<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1"
          xmlns:f="http://java.sun.com/jsf/core"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich"
          xmlns:c="http://java.sun.com/jsp/jstl/core">
  <c:set var="viewcontrollerBundle"
         value="#{adfBundle['mx.tgc.view.ViewControllerBundle']}"/>
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <f:view>
    <af:document id="d1"
                 title="#{viewcontrollerBundle['CAT.BLOQUES_PREDIOS.TITULO']}">
      <af:messages id="m1"/>
      <af:form id="f1">
        <af:pageTemplate viewId="/catastro/template/cacoTemplate.jspx" id="pt1">
          <f:facet name="top">
            <af:panelStretchLayout id="psl1"
                                   styleClass="AFStretchWidth AFStretchHeight"
                                   topHeight="115px">
              <f:facet name="center">
                <af:panelGroupLayout id="pgl1">
                  <af:panelGroupLayout id="pgl3">
                    <af:panelGroupLayout binding="#{viewScope.CataBloquesPrediosBean.panelBusquedaTreeTable}"
                                         id="pgl2"/>
                  </af:panelGroupLayout>
                  <af:panelGroupLayout id="pgl5" layout="vertical">
                    <af:spacer width="10" height="10" id="s1"/>
                    <af:outputFormatted value="#{viewcontrollerBundle['TIP.MSG_TABLA']}"
                                        id="outputFormatted2"
                                        styleUsage="pageStamp"
                                        styleClass="AFStretchWidth"/>
                  </af:panelGroupLayout>
                  <af:panelCollection id="pc1" styleClass="AFStretchWidth"
                                      defaultToolbarItemDisplay="iconAndText"
                                      inlineStyle="height:390.0px;">
                    <af:treeTable value="#{bindings.PrPredBloquesAgrupacionesVO1.treeModel}"
                                  var="node"
                                  selectionListener="#{bindings.PrPredBloquesAgrupacionesVO1.treeModel.makeCurrent}"
                                  rowSelection="single" id="tt1"
                                  binding="#{viewScope.CataBloquesPrediosBean.treeTable}"
                                  styleClass="AFStretchWidth"
                                  columnStretching="column:c1"
                                  emptyText="#{viewcontrollerBundle['SYS.SIN_DATOS']}">
                      <f:facet name="nodeStamp">
                      <af:setPropertyListener type="selection" from="true"
                                                to="#{bindings.selectedRow.inputValue}"/>
                        <af:column id="c1"
                                   headerText="#{bindings.PrPredBloquesAgrupacionesVO1.hints.Nombre.label}"
                                   width="200">
                          <af:outputText value="#{node.Nombre}" id="ot1"/>
                        </af:column>
                        
                      </f:facet>
                      <f:facet name="pathStamp">
                        <af:outputText value="#{node}" id="ot2"/>
                      </f:facet>
                      <af:column id="c2"
                                 headerText="#{bindings.PrPredBloquesAgrupacionesVO1.hints.Etiqueta.label}"
                                 width="200">
                        <af:outputText value="#{node.Etiqueta}" id="ot3"/>
                      </af:column>
                      <af:column id="c3"
                                 headerText="#{bindings.PrPredBloquesAgrupacionesVO1.hints.Orden.label}"
                                 width="50" align="right">
                        <af:outputText value="#{node.Orden}" id="ot4"/>
                      </af:column>
                      <af:column id="c22"
                                 headerText="#{bindings.PrPredBloquesAgrupacionesVO1.hints.Nivel.label}"
                                 width="50" align="right">
                        <af:outputText value="#{node.Nivel}" id="ot23"/>
                      </af:column>
                      <!-- COLUMNA AGREGADA EL 30/04/2015 POR: EDGAR ALEJANDRO BECERRIL. -->
                      <af:column id="c30"
                                 headerText="#{bindings.PrPredBloquesAgrupacionesVO1.hints.Pantalla.label}"
                                 width="50" align="right">
                        <af:outputText value="#{node.Pantalla}" id="ot30"/>
                      </af:column>
                      <!-- -->
                      <af:column id="c7"
                                 headerText="#{bindings.Campo1.hints.label}"
                                 rendered="#{bindings.Campo1.hints.displayHint}">
                        <af:outputText value="#{node.Campo1}" id="ot7"/>
                      </af:column>
                      <af:column id="c8"
                                 headerText="#{bindings.Campo2.hints.label}"
                                 rendered="#{bindings.Campo2.hints.displayHint}">
                        <af:outputText value="#{node.Campo2}" id="ot8"/>
                      </af:column>
                      <af:column id="c9"
                                 headerText="#{bindings.Campo3.hints.label}"
                                 rendered="#{bindings.Campo3.hints.displayHint}">
                        <af:outputText value="#{node.Campo3}" id="ot9"/>
                      </af:column>
                      <af:column id="c10"
                                 headerText="#{bindings.Campo4.hints.label}"
                                 rendered="#{bindings.Campo4.hints.displayHint}">
                        <af:outputText value="#{node.Campo4}" id="ot10"/>
                      </af:column>
                      <af:column id="c11"
                                 headerText="#{bindings.Campo5.hints.label}"
                                 rendered="#{bindings.Campo5.hints.displayHint}">
                        <af:outputText value="#{node.Campo5}" id="ot11"/>
                      </af:column>
                      <af:column id="c12"
                                 headerText="#{bindings.Campo6.hints.label}"
                                 rendered="#{bindings.Campo6.hints.displayHint}">
                        <af:outputText value="#{node.Campo6}" id="ot13"/>
                      </af:column>
                      <af:column id="c13"
                                 headerText="#{bindings.Campo7.hints.label}"
                                 rendered="#{bindings.Campo7.hints.displayHint}">
                        <af:outputText value="#{node.Campo7}" id="ot14"/>
                      </af:column>
                      <af:column id="c14"
                                 headerText="#{bindings.Campo8.hints.label}"
                                 rendered="#{bindings.Campo8.hints.displayHint}">
                        <af:outputText value="#{node.Campo8}" id="ot15"/>
                      </af:column>
                      <af:column id="c15"
                                 headerText="#{bindings.Campo9.hints.label}"
                                 rendered="#{bindings.Campo9.hints.displayHint}">
                        <af:outputText value="#{node.Campo9}" id="ot16"/>
                      </af:column>
                      <af:column id="c16"
                                 headerText="#{bindings.Campo10.hints.label}"
                                 rendered="#{bindings.Campo10.hints.displayHint}">
                        <af:outputText value="#{node.Campo10}" id="ot17"/>
                      </af:column>
                      <af:column id="c17"
                                 headerText="#{bindings.Campo11.hints.label}"
                                 rendered="#{bindings.Campo11.hints.displayHint}">
                        <af:outputText value="#{node.Campo11}" id="ot18"/>
                      </af:column>
                      <af:column id="c18"
                                 headerText="#{bindings.Campo12.hints.label}"
                                 rendered="#{bindings.Campo12.hints.displayHint}">
                        <af:outputText value="#{node.Campo12}" id="ot19"/>
                      </af:column>
                      <af:column id="c19"
                                 headerText="#{bindings.Campo13.hints.label}"
                                 rendered="#{bindings.Campo13.hints.displayHint}">
                        <af:outputText value="#{node.Campo13}" id="ot20"/>
                      </af:column>
                      <af:column id="c20"
                                 headerText="#{bindings.Campo14.hints.label}"
                                 rendered="#{bindings.Campo14.hints.displayHint}">
                        <af:outputText value="#{node.Campo14}" id="ot21"/>
                      </af:column>
                      <af:column id="c21"
                                 headerText="#{bindings.Campo15.hints.label}"
                                 rendered="#{bindings.Campo15.hints.displayHint}">
                        <af:outputText value="#{node.Campo15}" id="ot22"/>
                      </af:column>
                    </af:treeTable>
                    <af:popup id="popupBorrar">
                      <af:dialog id="dialogBorrar" type="okCancel"
                                 dialogListener="#{viewScope.CataBloquesPrediosBean.borrarDialogListener}"
                                 title="#{viewcontrollerBundle['TIT.CONFIRMAR']}"
                                 closeIconVisible="false" resize="off">
                        <af:outputText value="#{viewcontrollerBundle['SYS.BORRAR']}"
                                       id="ot6"/>
                      </af:dialog>
                    </af:popup>
                    <af:popup id="popupForma" contentDelivery="lazyUncached"
                              binding="#{viewScope.CataBloquesPrediosBean.popupForma}"
                              popupFetchListener="#{viewScope.CataBloquesPrediosBean.formaPopupFetchListener}"
                              popupCanceledListener="#{viewScope.CataBloquesPrediosBean.formaPopupCanceledListener}"
                              resetEditableValues="whenCanceled">
                      <af:dialog id="dialogForma" type="none"
                                 dialogListener="#{viewScope.CataBloquesPrediosBean.formaDialogListener}"
                                 title="#{viewcontrollerBundle['TIT.AGREGAR_MODIFICAR']}"
                                 resize="off" closeIconVisible="false">
                        <af:panelGroupLayout id="pgl4" layout="vertical">
                          <af:outputFormatted id="outputFormatted1"
                                              styleUsage="pageStamp"
                                              styleClass="AFStretchWidth"
                                              value="#{viewcontrollerBundle['TIP.AGREGAR_MODIFICAR']}"/>
                          <af:outputFormatted value="#{viewcontrollerBundle['TIP.CAMPOS_OBLIGATORIOS']}"
                                              id="of2" styleUsage="pageStamp"/>
                        </af:panelGroupLayout>
                        <af:panelFormLayout id="formInsertUpdate"
                                            labelAlignment="top">
                          <af:selectOneChoice value="#{bindings.PrPrbaIdentificador.inputValue}"
                                              label="#{bindings.PrPrbaIdentificador.hints.label}:"
                                              required="#{bindings.PrPrbaIdentificador.hints.mandatory}"
                                              id="soc1"
                                              binding="#{viewScope.CataBloquesPrediosBean.bloquePadre}"
                                              disabled="true">
                            <f:selectItems value="#{bindings.PrPrbaIdentificador.items}"
                                           id="si1"/>
                          </af:selectOneChoice>
                          <af:inputText value="#{bindings.Nombre.inputValue}"
                                        label="#{bindings.Nombre.hints.label}:"
                                        required="#{bindings.Nombre.hints.mandatory}"
                                        columns="#{bindings.Nombre.hints.displayWidth}"
                                        maximumLength="#{bindings.Nombre.hints.precision}"
                                        id="it15" converter="StringAsUppercase"
                                        inlineStyle="width:200.0px;">
                            <f:validator binding="#{bindings.Nombre.validator}"/>
                          </af:inputText>
                          <af:inputText value="#{bindings.Etiqueta.inputValue}"
                                        label="#{bindings.Etiqueta.hints.label}:"
                                        required="#{bindings.Etiqueta.hints.mandatory}"
                                        maximumLength="#{bindings.Etiqueta.hints.precision}"
                                        id="it12">
                            <f:validator binding="#{bindings.Etiqueta.validator}"/>
                          </af:inputText>
                          <af:inputText value="#{bindings.Orden.inputValue}"
                                        label="#{bindings.Orden.hints.label}:"
                                        required="#{bindings.Orden.hints.mandatory}"
                                        columns="#{bindings.Orden.hints.displayWidth}"
                                        maximumLength="#{bindings.Orden.hints.precision}"
                                        id="it18">
                            <f:validator binding="#{bindings.Orden.validator}"/>
                            <af:convertNumber groupingUsed="false"
                                              pattern="#{bindings.Orden.format}"/>
                          </af:inputText>
                          <af:inputText value="#{bindings.Nivel.inputValue}"
                                        label="#{bindings.Nivel.hints.label}:"
                                        required="#{bindings.Nivel.hints.mandatory}"
                                        columns="#{bindings.Nivel.hints.displayWidth}"
                                        maximumLength="#{bindings.Nivel.hints.precision}"
                                        id="it23" converter="StringAsUppercase">
                            <f:validator binding="#{bindings.Nivel.validator}"/>
                          </af:inputText>
                          <!-- CAMPO AGREGADO EL 30/04/2015 POR: EDGAR ALEJANDRO BECERRIL. -->
                             <af:inputText value="#{bindings.Pantalla.inputValue}"
                                        label="#{bindings.Pantalla.hints.label}:"
                                        required="#{bindings.Pantalla.hints.mandatory}"
                                        columns="#{bindings.Pantalla.hints.displayWidth}"
                                        maximumLength="#{bindings.Pantalla.hints.precision}"
                                        id="it30">
                            <f:validator binding="#{bindings.Pantalla.validator}"/>
                            <af:convertNumber groupingUsed="false"
                                              pattern="#{bindings.Pantalla.format}"/>
                          </af:inputText>
                          <!-- FIN DEL CAMPO -->
                          <af:inputText value="#{bindings.Campo1.inputValue}"
                                        label="#{bindings.Campo1.hints.label}:"
                                        required="#{bindings.Campo1.hints.mandatory}"
                                        columns="#{bindings.Campo1.hints.displayWidth}"
                                        maximumLength="#{bindings.Campo1.hints.precision}"
                                        id="it8"
                                        rendered="#{bindings.Campo1.hints.displayHint}">
                            <f:validator binding="#{bindings.Campo1.validator}"/>
                          </af:inputText>
                          <af:inputText value="#{bindings.Campo2.inputValue}"
                                        label="#{bindings.Campo2.hints.label}:"
                                        required="#{bindings.Campo2.hints.mandatory}"
                                        columns="#{bindings.Campo2.hints.displayWidth}"
                                        maximumLength="#{bindings.Campo2.hints.precision}"
                                        id="it6"
                                        rendered="#{bindings.Campo2.hints.displayHint}">
                            <f:validator binding="#{bindings.Campo2.validator}"/>
                          </af:inputText>
                          <af:inputText value="#{bindings.Campo3.inputValue}"
                                        label="#{bindings.Campo3.hints.label}:"
                                        required="#{bindings.Campo3.hints.mandatory}"
                                        columns="#{bindings.Campo3.hints.displayWidth}"
                                        maximumLength="#{bindings.Campo3.hints.precision}"
                                        id="it16"
                                        rendered="#{bindings.Campo3.hints.displayHint}">
                            <f:validator binding="#{bindings.Campo3.validator}"/>
                          </af:inputText>
                          <af:inputText value="#{bindings.Campo4.inputValue}"
                                        label="#{bindings.Campo4.hints.label}:"
                                        required="#{bindings.Campo4.hints.mandatory}"
                                        columns="#{bindings.Campo4.hints.displayWidth}"
                                        maximumLength="#{bindings.Campo4.hints.precision}"
                                        id="it11"
                                        rendered="#{bindings.Campo4.hints.displayHint}">
                            <f:validator binding="#{bindings.Campo4.validator}"/>
                          </af:inputText>
                          <af:inputText value="#{bindings.Campo5.inputValue}"
                                        label="#{bindings.Campo5.hints.label}:"
                                        required="#{bindings.Campo5.hints.mandatory}"
                                        columns="#{bindings.Campo5.hints.displayWidth}"
                                        maximumLength="#{bindings.Campo5.hints.precision}"
                                        id="it14"
                                        rendered="#{bindings.Campo5.hints.displayHint}">
                            <f:validator binding="#{bindings.Campo5.validator}"/>
                          </af:inputText>
                          <af:inputText value="#{bindings.Campo6.inputValue}"
                                        label="#{bindings.Campo6.hints.label}:"
                                        required="#{bindings.Campo6.hints.mandatory}"
                                        columns="#{bindings.Campo6.hints.displayWidth}"
                                        maximumLength="#{bindings.Campo6.hints.precision}"
                                        id="it5"
                                        rendered="#{bindings.Campo6.hints.displayHint}">
                            <f:validator binding="#{bindings.Campo6.validator}"/>
                          </af:inputText>
                          <af:inputText value="#{bindings.Campo7.inputValue}"
                                        label="#{bindings.Campo7.hints.label}:"
                                        required="#{bindings.Campo7.hints.mandatory}"
                                        columns="#{bindings.Campo7.hints.displayWidth}"
                                        maximumLength="#{bindings.Campo7.hints.precision}"
                                        id="it22"
                                        rendered="#{bindings.Campo7.hints.displayHint}">
                            <f:validator binding="#{bindings.Campo7.validator}"/>
                          </af:inputText>
                          <af:inputText value="#{bindings.Campo8.inputValue}"
                                        label="#{bindings.Campo8.hints.label}:"
                                        required="#{bindings.Campo8.hints.mandatory}"
                                        columns="#{bindings.Campo8.hints.displayWidth}"
                                        maximumLength="#{bindings.Campo8.hints.precision}"
                                        id="it21"
                                        rendered="#{bindings.Campo8.hints.displayHint}">
                            <f:validator binding="#{bindings.Campo8.validator}"/>
                          </af:inputText>
                          <af:inputText value="#{bindings.Campo9.inputValue}"
                                        label="#{bindings.Campo9.hints.label}:"
                                        required="#{bindings.Campo9.hints.mandatory}"
                                        columns="#{bindings.Campo9.hints.displayWidth}"
                                        maximumLength="#{bindings.Campo9.hints.precision}"
                                        id="it13"
                                        rendered="#{bindings.Campo9.hints.displayHint}">
                            <f:validator binding="#{bindings.Campo9.validator}"/>
                          </af:inputText>
                          <af:inputText value="#{bindings.Campo10.inputValue}"
                                        label="#{bindings.Campo10.hints.label}:"
                                        required="#{bindings.Campo10.hints.mandatory}"
                                        columns="#{bindings.Campo10.hints.displayWidth}"
                                        maximumLength="#{bindings.Campo10.hints.precision}"
                                        id="it10"
                                        rendered="#{bindings.Campo10.hints.displayHint}">
                            <f:validator binding="#{bindings.Campo10.validator}"/>
                          </af:inputText>
                          <af:inputText value="#{bindings.Campo11.inputValue}"
                                        label="#{bindings.Campo11.hints.label}:"
                                        required="#{bindings.Campo11.hints.mandatory}"
                                        columns="#{bindings.Campo11.hints.displayWidth}"
                                        maximumLength="#{bindings.Campo11.hints.precision}"
                                        id="it19"
                                        rendered="#{bindings.Campo11.hints.displayHint}">
                            <f:validator binding="#{bindings.Campo11.validator}"/>
                          </af:inputText>
                          <af:inputText value="#{bindings.Campo12.inputValue}"
                                        label="#{bindings.Campo12.hints.label}:"
                                        required="#{bindings.Campo12.hints.mandatory}"
                                        columns="#{bindings.Campo12.hints.displayWidth}"
                                        maximumLength="#{bindings.Campo12.hints.precision}"
                                        id="it17"
                                        rendered="#{bindings.Campo12.hints.displayHint}">
                            <f:validator binding="#{bindings.Campo12.validator}"/>
                          </af:inputText>
                          <af:inputText value="#{bindings.Campo13.inputValue}"
                                        label="#{bindings.Campo13.hints.label}:"
                                        required="#{bindings.Campo13.hints.mandatory}"
                                        columns="#{bindings.Campo13.hints.displayWidth}"
                                        maximumLength="#{bindings.Campo13.hints.precision}"
                                        id="it7"
                                        rendered="#{bindings.Campo13.hints.displayHint}">
                            <f:validator binding="#{bindings.Campo13.validator}"/>
                          </af:inputText>
                          <af:inputText value="#{bindings.Campo14.inputValue}"
                                        label="#{bindings.Campo14.hints.label}:"
                                        required="#{bindings.Campo14.hints.mandatory}"
                                        columns="#{bindings.Campo14.hints.displayWidth}"
                                        maximumLength="#{bindings.Campo14.hints.precision}"
                                        id="it9"
                                        rendered="#{bindings.Campo14.hints.displayHint}">
                            <f:validator binding="#{bindings.Campo14.validator}"/>
                          </af:inputText>
                          <af:inputText value="#{bindings.Campo15.inputValue}"
                                        label="#{bindings.Campo15.hints.label}:"
                                        required="#{bindings.Campo15.hints.mandatory}"
                                        columns="#{bindings.Campo15.hints.displayWidth}"
                                        maximumLength="#{bindings.Campo15.hints.precision}"
                                        id="it20"
                                        rendered="#{bindings.Campo15.hints.displayHint}">
                            <f:validator binding="#{bindings.Campo15.validator}"/>
                          </af:inputText>
                        </af:panelFormLayout>
                        <f:facet name="buttonBar">
                        <af:group id="g1">
                          <af:commandButton text="#{viewcontrollerBundle['BOTON.ACEPTAR']}"
                                            id="cb2"
                                            actionListener="#{viewScope.CataBloquesPrediosBean.aceptarListener}"
                                            partialSubmit="true"/>
                          <af:commandButton text="#{viewcontrollerBundle['BOTON.CANCELAR']}"
                                            id="cb1" immediate="true"
                                            partialSubmit="true">
                            <af:showPopupBehavior popupId="popupCancelar"/>
                          </af:commandButton>
                        </af:group>
                      </f:facet>
                    </af:dialog>
                    </af:popup>
                    <af:popup id="popupCancelar"
                            binding="#{viewScope.CataSegCatastralesBean.popupCancelar}"
                              contentDelivery="lazyUncached"
                              popupFetchListener="#{viewScope.CataBloquesPrediosBean.formaPopupFetchListener}"
                              childCreation="deferred">
                    <af:dialog id="dialog1" type="cancel"
                               title="#{viewcontrollerBundle['TIT.CONFIRMAR']}"
                               closeIconVisible="false"
                               binding="#{viewScope.CataBloquesPrediosBean.popupCancelar}">
                      <af:outputText value="#{pageFlowScope.bpOperacion eq 'nuevo' ? viewcontrollerBundle['SYS.ALTA'] : viewcontrollerBundle['SYS.MODIFICACION'] }"
                                     id="outputText1"/>
                        <f:facet name="buttonBar">
                          <af:group id="g2">
                            <af:commandButton text="#{viewcontrollerBundle['BOTON.ACEPTAR']}" id="cb3"
                                              actionListener="#{viewScope.CataBloquesPrediosBean.cancelarListener}"
                                              immediate="true">
                              <af:resetActionListener/>
                            </af:commandButton>
                          </af:group>
                        </f:facet>
                      </af:dialog>
                  </af:popup>
                    <f:facet name="toolbar">
                      <af:toolbar id="t1">
                        <af:commandToolbarButton text="#{viewcontrollerBundle['BOTON.AGREGAR_RAIZ']}"
                                                 id="cmbInsertRoot"
                                                 action="#{viewScope.CataBloquesPrediosBean.muestraPopup}">
                          <af:setPropertyListener from="nuevo"
                                                  to="#{pageFlowScope.bpOperacion}"
                                                  type="action"/>
                          <af:showPopupBehavior triggerType="action"
                                                popupId="popupForma"/>
                        </af:commandToolbarButton>
                        <af:commandToolbarButton text="#{viewcontrollerBundle['BOTON.AGREGAR_HIJO']}"
                                                 id="cmbInsert"
                                                 disabled="#{bindings.selectedRow.inputValue eq 'false'}"
                                                 partialTriggers="tt1"
                                                 immediate="true">
                          <af:showPopupBehavior triggerType="action"
                                                popupId="popupForma"/>
                          <af:setPropertyListener from="nuevo"
                                                  to="#{pageFlowScope.bpOperacion}"
                                                  type="action"/>
                        </af:commandToolbarButton>
                        <af:commandToolbarButton text="#{viewcontrollerBundle['BOTON.MODIFICAR']}"
                                                 id="cmbEdit"
                                                 disabled="#{bindings.selectedRow.inputValue eq 'false'}"
                                                 partialTriggers="tt1">
                          <af:showPopupBehavior triggerType="action"
                                                popupId="popupForma"/>
                          <af:setPropertyListener from="modificar"
                                                  to="#{pageFlowScope.bpOperacion}"
                                                  type="action"/>
                        </af:commandToolbarButton>
                        <af:commandToolbarButton text="#{viewcontrollerBundle['BOTON.BORRAR']}"
                                                 id="cmbDelete"
                                                 disabled="#{bindings.selectedRow.inputValue eq 'false'}"
                                                 partialTriggers="tt1">
                          <af:showPopupBehavior triggerType="action"
                                                popupId="popupBorrar"/>
                        </af:commandToolbarButton>
                      </af:toolbar>
                    </f:facet>
                  </af:panelCollection>
                </af:panelGroupLayout>
              </f:facet>
            </af:panelStretchLayout>
          </f:facet>
          <f:attribute name="tituloPantalla"
                       value="#{viewcontrollerBundle['CAT.BLOQUES_PREDIOS.TITULO']}"/>
        </af:pageTemplate>
      </af:form>
    </af:document>
  </f:view>
</jsp:root>
