<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1"
          xmlns:f="http://java.sun.com/jsf/core"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich"
          xmlns:c="http://java.sun.com/jsp/jstl/core">
    <c:set var="viewcontrollerBundle"
           value="#{adfBundle['mx.tgc.view.ViewControllerBundle']}"/>
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <f:view>
        <af:document id="d1"
                     title="#{viewcontrollerBundle['CAT.TIPOS_AVALUOS.TITULO']}">
            <af:messages id="m1"/>
            <af:form id="f1">
                <af:pageTemplate viewId="/catastro/template/caseTemplate.jspx"
                                 id="pt1">
                    <f:facet name="top">
                        <af:panelGroupLayout id="pgl3"
                                             styleClass="AFStretchWidth" layout="scroll">
                            <af:outputFormatted id="outputFormatted3"
                                                styleUsage="pageStamp"
                                                styleClass="AFStretchWidth"
                                                value="#{viewcontrollerBundle['TIP.MSG_TABLA']}"/>
                            <af:panelGroupLayout id="pgl9" layout="scroll" halign="right">
                                <af:panelFormLayout id="pfl3" labelAlignment="top">
                                    <af:selectOneChoice value="#{bindings.AaUsuariosMunicipiosVVO1.inputValue}"
                                                        label="#{viewcontrollerBundle['LOV.MUNICIPIO']}"
                                                        immediate="true" autoSubmit="true"
                                                        binding="#{CataTiposAvaluosBean.municipios}"
                                                        required="#{bindings.AaUsuariosMunicipiosVVO1.hints.mandatory}"
                                                        shortDesc="#{bindings.AaUsuariosMunicipiosVVO1.hints.tooltip}"
                                                        id="soc3">
                                        <f:selectItems value="#{bindings.AaUsuariosMunicipiosVVO1.items}" id="si3"/>
                                    </af:selectOneChoice>
                                </af:panelFormLayout>
                            </af:panelGroupLayout>
                            <af:spacer width="10" height="10" id="s1"/>
                            <af:panelCollection id="pc1"
                                                styleClass="AFStretchWidth"
                                                inlineStyle="height:390.0px;">
                                <f:facet name="toolbar">
                                    <af:toolbar id="t2">
                                        <af:commandButton text="#{viewcontrollerBundle['BOTON.AGREGAR']}"
                                                          id="cb1"
                                                          partialTriggers="t1"
                                                          actionListener="#{viewScope.CataTiposAvaluosBean.muestraPopListener}">
                                            <af:setPropertyListener from="nuevo"
                                                                    to="#{pageFlowScope.operacion}"
                                                                    type="action"/>
                                        </af:commandButton>
                                        <af:commandButton text="#{viewcontrollerBundle['BOTON.MODIFICAR']}"
                                                          id="cb3"
                                                          actionListener="#{viewScope.CataTiposAvaluosBean.muestraPopListener}"
                                                          disabled="#{!bindings.Delete.enabled}">
                                            <af:setPropertyListener from="modificar"
                                                                    to="#{pageFlowScope.operacion}"
                                                                    type="action"/>
                                        </af:commandButton>
                                        <af:commandButton immediate="true"
                                                          text="#{viewcontrollerBundle['BOTON.BORRAR']}"
                                                          id="cb2"
                                                          partialTriggers="t1"
                                                          useWindow="true"
                                                          disabled="#{!bindings.Delete.enabled}">
                                            <af:showPopupBehavior popupId="borrarPopUp"/>
                                        </af:commandButton>
                                        <af:popup id="borrarPopUp"
                                                  binding="#{viewScope.CataTiposAvaluosBean.borrarPopUp}">
                                            <af:dialog id="d2" type="none"
                                                       title="#{viewcontrollerBundle['TIT.CONFIRMAR']}"
                                                       closeIconVisible="false">
                                                <af:outputText value="#{viewcontrollerBundle['SYS.BORRAR']}"
                                                               id="ot23"/>
                                                <f:facet name="buttonBar">
                                                    <af:group id="g1">
                                                        <af:commandButton text="#{viewcontrollerBundle['BOTON.ACEPTAR']}"
                                                                          id="cb6"
                                                                          action="#{viewScope.CataTiposAvaluosBean.borrarRegistro}"/>
                                                        <af:commandButton text="#{viewcontrollerBundle['BOTON.CANCELAR']}"
                                                                          id="cb7">
                                                            <af:setActionListener from="false"
                                                                                  to="#{bindings.var_modifica.inputValue}"/>
                                                        </af:commandButton>
                                                    </af:group>
                                                </f:facet>
                                            </af:dialog>
                                        </af:popup>
                                        <af:popup id="cancelarPopUp"
                                                  binding="#{viewScope.CataTiposAvaluosBean.cancelarPopUp}">
                                            <af:dialog id="d3"
                                                       title="#{viewcontrollerBundle['TIT.CONFIRMAR']}"
                                                       type="cancel"
                                                       closeIconVisible="false" resize="off"
                                                       dialogListener="#{viewScope.CataTiposAvaluosBean.cancelAction}">
                                                <af:outputText value="#{pageFlowScope.operacion eq 'nuevo' ? viewcontrollerBundle['SYS.ALTA'] : viewcontrollerBundle['SYS.MODIFICACION'] }"
                                                               id="ot24"/>
                                                <f:facet name="buttonBar">
                                                    <af:group id="g2">
                                                        <af:commandButton
                                                                          text="#{viewcontrollerBundle['BOTON.ACEPTAR']}"
                                                                          immediate="true"
                                                                          id="cb8"
                                                                          actionListener="#{viewScope.CataTiposAvaluosBean.cerrarPopupDml}">
                                                            <af:resetActionListener/>
                                                            <af:setActionListener from="false"
                                                                                  to="#{bindings.var_modifica.inputValue}"/>
                                                        </af:commandButton>
                                                    </af:group>
                                                </f:facet>
                                            </af:dialog>
                                        </af:popup>
                                        <af:popup id="popupDml"
                                                  popupFetchListener="#{viewScope.CataTiposAvaluosBean.formaPopupFetchListener}"
                                                  binding="#{viewScope.CataTiposAvaluosBean.popupDml}">
                                            <af:dialog id="d4"
                                                       closeIconVisible="false"
                                                       resize="off" type="none"
                                                       title="#{viewcontrollerBundle['TIT.AGREGAR_MODIFICAR']}">
                                                <f:facet name="buttonBar">
                                                    <af:group id="g3">
                                                        <af:commandButton text="#{viewcontrollerBundle['BOTON.ACEPTAR']}"
                                                                          id="cb4"
                                                                          action="#{viewScope.CataTiposAvaluosBean.insertarRegistro}"
                                                                          partialSubmit="true"/>
                                                        <af:commandButton text="#{viewcontrollerBundle['BOTON.CANCELAR']}"
                                                                          immediate="true"
                                                                          id="cb5"
                                                                          useWindow="true">
                                                            <af:showPopupBehavior popupId="cancelarPopUp"/>
                                                        </af:commandButton>
                                                    </af:group>
                                                </f:facet>
                                                <af:panelGroupLayout id="pgl1"
                                                                     layout="vertical">
                                                    <af:outputFormatted id="outputFormatted1"
                                                                        styleUsage="pageStamp"
                                                                        value="#{viewcontrollerBundle['TIP.AGREGAR_MODIFICAR']}."
                                                                        rendered="#{bindings.var_modifica.inputValue eq 'true' and bindings.Delete.enabled}"/>
                                                    <af:outputFormatted value="#{viewcontrollerBundle['TIP.CAMPOS_OBLIGATORIOS']}."
                                                                        id="of3"
                                                                        styleUsage="pageStamp"
                                                                        rendered="#{bindings.var_modifica.inputValue eq 'true' and bindings.Delete.enabled}"/>
                                                </af:panelGroupLayout>
                                                <af:panelFormLayout id="pfl2"
                                                                    labelAlignment="top">
                                                    <af:inputText value="#{bindings.TipoAvaluo.inputValue}"
                                                                  label="#{bindings.TipoAvaluo.hints.label}:"
                                                                  required="#{bindings.TipoAvaluo.hints.mandatory}"
                                                                  columns="#{bindings.TipoAvaluo.hints.displayWidth}"
                                                                  maximumLength="#{bindings.TipoAvaluo.hints.precision}"
                                                                  shortDesc="#{bindings.TipoAvaluo.hints.tooltip}"
                                                                  id="it6">
                                                        <f:validator binding="#{bindings.TipoAvaluo.validator}"/>
                                                        <f:converter converterId="StringAsUppercase"/>
                                                    </af:inputText>
                                                    <af:inputText value="#{bindings.Nombre.inputValue}"
                                                                  label="#{bindings.Nombre.hints.label}:"
                                                                  required="#{bindings.Nombre.hints.mandatory}"
                                                                  columns="#{bindings.Nombre.hints.displayWidth}"
                                                                  maximumLength="#{bindings.Nombre.hints.precision}"
                                                                  shortDesc="#{bindings.Nombre.hints.tooltip}"
                                                                  id="it7">
                                                        <f:validator binding="#{bindings.Nombre.validator}"/>
                                                        <f:converter converterId="StringAsUppercase"/>
                                                    </af:inputText>
                                                    <af:inputText value="#{bindings.Descripcion.inputValue}"
                                                                  label="#{bindings.Descripcion.hints.label}:"
                                                                  required="#{bindings.Descripcion.hints.mandatory}"
                                                                  columns="70"
                                                                  maximumLength="#{bindings.Descripcion.hints.precision}"
                                                                  shortDesc="#{bindings.Descripcion.hints.tooltip}"
                                                                  id="it13"
                                                                  rows="2">
                                                        <f:validator binding="#{bindings.Descripcion.validator}"/>
                                                        <f:converter converterId="StringAsUppercase"/>
                                                    </af:inputText>
                                                    <af:selectOneChoice value="#{bindings.Estatus.inputValue}"
                                                                        label="#{bindings.Estatus.label}:"
                                                                        required="#{bindings.Estatus.hints.mandatory}"
                                                                        shortDesc="#{bindings.Estatus.hints.tooltip}"
                                                                        id="soc2"
                                                                        autoSubmit="true">
                                                        <f:selectItems value="#{bindings.Estatus.items}"
                                                                       id="si2"/>
                                                    </af:selectOneChoice>
                                                    <af:inputDate value="#{bindings.FechaInicio.inputValue}"
                                                                  label="#{bindings.FechaInicio.hints.label}:"
                                                                  required="#{bindings.FechaInicio.hints.mandatory}"
                                                                  shortDesc="#{bindings.FechaInicio.hints.tooltip}"
                                                                  id="id4">
                                                        <f:validator binding="#{bindings.FechaInicio.validator}"/>
                                                        <af:convertDateTime pattern="dd-MM-yyyy"
                                                                            type="date"
                                                                            dateStyle="short"/>
                                                    </af:inputDate>
                                                    <af:inputDate value="#{bindings.FechaFin.inputValue}"
                                                                  label="#{bindings.FechaFin.hints.label}:"
                                                                  required="#{bindings.FechaFin.hints.mandatory}"
                                                                  shortDesc="#{bindings.FechaFin.hints.tooltip}"
                                                                  id="id3">
                                                        <f:validator binding="#{bindings.FechaFin.validator}"/>
                                                        <af:convertDateTime pattern="dd-MM-yyyy"
                                                                            type="date"
                                                                            dateStyle="short"/>
                                                    </af:inputDate>
                                                    <af:inputText value="#{bindings.Campo1.inputValue}"
                                                                  label="#{bindings.Campo1.hints.label}:"
                                                                  required="#{bindings.Campo1.hints.mandatory}"
                                                                  columns="#{bindings.Campo1.hints.displayWidth}"
                                                                  maximumLength="#{bindings.Campo1.hints.precision}"
                                                                  shortDesc="#{bindings.Campo1.hints.tooltip}"
                                                                  id="it11"
                                                                  rendered="#{bindings.Campo1.hints.displayHint}">
                                                        <f:validator binding="#{bindings.Campo1.validator}"/>
                                                    </af:inputText>
                                                    <af:inputText value="#{bindings.Campo2.inputValue}"
                                                                  label="#{bindings.Campo2.hints.label}:"
                                                                  required="#{bindings.Campo2.hints.mandatory}"
                                                                  columns="#{bindings.Campo2.hints.displayWidth}"
                                                                  maximumLength="#{bindings.Campo2.hints.precision}"
                                                                  shortDesc="#{bindings.Campo2.hints.tooltip}"
                                                                  id="it5"
                                                                  rendered="#{bindings.Campo2.hints.displayHint}">
                                                        <f:validator binding="#{bindings.Campo2.validator}"/>
                                                    </af:inputText>
                                                    <af:inputText value="#{bindings.Campo3.inputValue}"
                                                                  label="#{bindings.Campo3.hints.label}:"
                                                                  required="#{bindings.Campo3.hints.mandatory}"
                                                                  columns="#{bindings.Campo3.hints.displayWidth}"
                                                                  maximumLength="#{bindings.Campo3.hints.precision}"
                                                                  shortDesc="#{bindings.Campo3.hints.tooltip}"
                                                                  id="it17"
                                                                  rendered="#{bindings.Campo3.hints.displayHint}">
                                                        <f:validator binding="#{bindings.Campo3.validator}"/>
                                                    </af:inputText>
                                                    <af:inputText value="#{bindings.Campo4.inputValue}"
                                                                  label="#{bindings.Campo4.hints.label}:"
                                                                  required="#{bindings.Campo4.hints.mandatory}"
                                                                  columns="#{bindings.Campo4.hints.displayWidth}"
                                                                  maximumLength="#{bindings.Campo4.hints.precision}"
                                                                  shortDesc="#{bindings.Campo4.hints.tooltip}"
                                                                  id="it16"
                                                                  rendered="#{bindings.Campo4.hints.displayHint}">
                                                        <f:validator binding="#{bindings.Campo4.validator}"/>
                                                    </af:inputText>
                                                    <af:inputText value="#{bindings.Campo5.inputValue}"
                                                                  label="#{bindings.Campo5.hints.label}:"
                                                                  required="#{bindings.Campo5.hints.mandatory}"
                                                                  columns="#{bindings.Campo5.hints.displayWidth}"
                                                                  maximumLength="#{bindings.Campo5.hints.precision}"
                                                                  shortDesc="#{bindings.Campo5.hints.tooltip}"
                                                                  id="it8"
                                                                  rendered="#{bindings.Campo5.hints.displayHint}">
                                                        <f:validator binding="#{bindings.Campo5.validator}"/>
                                                    </af:inputText>
                                                    <af:inputText value="#{bindings.Campo6.inputValue}"
                                                                  label="#{bindings.Campo6.hints.label}:"
                                                                  required="#{bindings.Campo6.hints.mandatory}"
                                                                  columns="#{bindings.Campo6.hints.displayWidth}"
                                                                  maximumLength="#{bindings.Campo6.hints.precision}"
                                                                  shortDesc="#{bindings.Campo6.hints.tooltip}"
                                                                  id="it18"
                                                                  rendered="#{bindings.Campo6.hints.displayHint}">
                                                        <f:validator binding="#{bindings.Campo6.validator}"/>
                                                    </af:inputText>
                                                    <af:inputText value="#{bindings.Campo7.inputValue}"
                                                                  label="#{bindings.Campo7.hints.label}:"
                                                                  required="#{bindings.Campo7.hints.mandatory}"
                                                                  columns="#{bindings.Campo7.hints.displayWidth}"
                                                                  maximumLength="#{bindings.Campo7.hints.precision}"
                                                                  shortDesc="#{bindings.Campo7.hints.tooltip}"
                                                                  id="it21"
                                                                  rendered="#{bindings.Campo7.hints.displayHint}">
                                                        <f:validator binding="#{bindings.Campo7.validator}"/>
                                                    </af:inputText>
                                                    <af:inputText value="#{bindings.Campo8.inputValue}"
                                                                  label="#{bindings.Campo8.hints.label}:"
                                                                  required="#{bindings.Campo8.hints.mandatory}"
                                                                  columns="#{bindings.Campo8.hints.displayWidth}"
                                                                  maximumLength="#{bindings.Campo8.hints.precision}"
                                                                  shortDesc="#{bindings.Campo8.hints.tooltip}"
                                                                  id="it4"
                                                                  rendered="#{bindings.Campo8.hints.displayHint}">
                                                        <f:validator binding="#{bindings.Campo8.validator}"/>
                                                    </af:inputText>
                                                    <af:inputText value="#{bindings.Campo9.inputValue}"
                                                                  label="#{bindings.Campo9.hints.label}:"
                                                                  required="#{bindings.Campo9.hints.mandatory}"
                                                                  columns="#{bindings.Campo9.hints.displayWidth}"
                                                                  maximumLength="#{bindings.Campo9.hints.precision}"
                                                                  shortDesc="#{bindings.Campo9.hints.tooltip}"
                                                                  id="it10"
                                                                  rendered="#{bindings.Campo9.hints.displayHint}">
                                                        <f:validator binding="#{bindings.Campo9.validator}"/>
                                                    </af:inputText>
                                                    <af:inputText value="#{bindings.Campo10.inputValue}"
                                                                  label="#{bindings.Campo10.hints.label}:"
                                                                  required="#{bindings.Campo10.hints.mandatory}"
                                                                  columns="#{bindings.Campo10.hints.displayWidth}"
                                                                  maximumLength="#{bindings.Campo10.hints.precision}"
                                                                  shortDesc="#{bindings.Campo10.hints.tooltip}"
                                                                  id="it19"
                                                                  rendered="#{bindings.Campo10.hints.displayHint}">
                                                        <f:validator binding="#{bindings.Campo10.validator}"/>
                                                    </af:inputText>
                                                    <af:inputText value="#{bindings.Campo11.inputValue}"
                                                                  label="#{bindings.Campo11.hints.label}:"
                                                                  required="#{bindings.Campo11.hints.mandatory}"
                                                                  columns="#{bindings.Campo11.hints.displayWidth}"
                                                                  maximumLength="#{bindings.Campo11.hints.precision}"
                                                                  shortDesc="#{bindings.Campo11.hints.tooltip}"
                                                                  id="it9"
                                                                  rendered="#{bindings.Campo11.hints.displayHint}">
                                                        <f:validator binding="#{bindings.Campo11.validator}"/>
                                                    </af:inputText>
                                                    <af:inputText value="#{bindings.Campo12.inputValue}"
                                                                  label="#{bindings.Campo12.hints.label}:"
                                                                  required="#{bindings.Campo12.hints.mandatory}"
                                                                  columns="#{bindings.Campo12.hints.displayWidth}"
                                                                  maximumLength="#{bindings.Campo12.hints.precision}"
                                                                  shortDesc="#{bindings.Campo12.hints.tooltip}"
                                                                  id="it20"
                                                                  rendered="#{bindings.Campo12.hints.displayHint}">
                                                        <f:validator binding="#{bindings.Campo12.validator}"/>
                                                    </af:inputText>
                                                    <af:inputText value="#{bindings.Campo13.inputValue}"
                                                                  label="#{bindings.Campo13.hints.label}:"
                                                                  required="#{bindings.Campo13.hints.mandatory}"
                                                                  columns="#{bindings.Campo13.hints.displayWidth}"
                                                                  maximumLength="#{bindings.Campo13.hints.precision}"
                                                                  shortDesc="#{bindings.Campo13.hints.tooltip}"
                                                                  id="it12"
                                                                  rendered="#{bindings.Campo13.hints.displayHint}">
                                                        <f:validator binding="#{bindings.Campo13.validator}"/>
                                                    </af:inputText>
                                                    <af:inputText value="#{bindings.Campo14.inputValue}"
                                                                  label="#{bindings.Campo14.hints.label}:"
                                                                  required="#{bindings.Campo14.hints.mandatory}"
                                                                  columns="#{bindings.Campo14.hints.displayWidth}"
                                                                  maximumLength="#{bindings.Campo14.hints.precision}"
                                                                  shortDesc="#{bindings.Campo14.hints.tooltip}"
                                                                  id="it22"
                                                                  rendered="#{bindings.Campo14.hints.displayHint}">
                                                        <f:validator binding="#{bindings.Campo14.validator}"/>
                                                    </af:inputText>
                                                    <af:inputText value="#{bindings.Campo15.inputValue}"
                                                                  label="#{bindings.Campo15.hints.label}:"
                                                                  required="#{bindings.Campo15.hints.mandatory}"
                                                                  columns="#{bindings.Campo15.hints.displayWidth}"
                                                                  maximumLength="#{bindings.Campo15.hints.precision}"
                                                                  shortDesc="#{bindings.Campo15.hints.tooltip}"
                                                                  id="it23"
                                                                  rendered="#{bindings.Campo15.hints.displayHint}">
                                                        <f:validator binding="#{bindings.Campo15.validator}"/>
                                                    </af:inputText>
                                                </af:panelFormLayout>
                                            </af:dialog>
                                        </af:popup>
                                    </af:toolbar>
                                </f:facet>
                                <af:table partialTriggers="::cb1 ::cb3 ::cb2 ::cb6 ::cb4 :::soc3"
                                          value="#{bindings.PrTiposAvaluos1.collectionModel}"
                                          var="row"
                                          rows="#{bindings.PrTiposAvaluos1.rangeSize}"
                                          emptyText="#{viewcontrollerBundle['SYS.SIN_DATOS']}"
                                          fetchSize="#{bindings.PrTiposAvaluos1.rangeSize}"
                                          rowBandingInterval="0"
                                          filterModel="#{bindings.PrTiposAvaluos1Query.queryDescriptor}"
                                          queryListener="#{bindings.PrTiposAvaluos1Query.processQuery}"
                                          filterVisible="false" varStatus="vs"
                                          selectedRowKeys="#{bindings.PrTiposAvaluos1.collectionModel.selectedRow}"
                                          selectionListener="#{bindings.PrTiposAvaluos1.collectionModel.makeCurrent}"
                                          rowSelection="single" id="t1"
                                          columnStretching="column:c20"
                                          immediate="true">
                                    <af:column sortProperty="TipoAvaluo"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.PrTiposAvaluos1.hints.TipoAvaluo.label}"
                                               id="c3"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.TipoAvaluo}"
                                                       id="ot8"/>
                                    </af:column>
                                    <af:column sortProperty="Nombre"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.PrTiposAvaluos1.hints.Nombre.label}"
                                               id="c20"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.Nombre}"
                                                       id="ot3"/>
                                    </af:column>
                                    <af:column sortProperty="Descripcion"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.PrTiposAvaluos1.hints.Descripcion.label}"
                                               id="c1" width="300"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.Descripcion}"
                                                       id="ot14"/>
                                    </af:column>
                                    <af:column sortProperty="Estatus"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.PrTiposAvaluos1.hints.Estatus.label}"
                                               id="c17"
                                               filterFeatures="caseInsensitive">
                                        <af:selectOneChoice value="#{row.bindings.Estatus.inputValue}"
                                                            id="soc1"
                                                            readOnly="true">
                                            <f:selectItems value="#{bindings.Estatus.items}"
                                                           id="si1"/>
                                        </af:selectOneChoice>
                                    </af:column>
                                    <af:column sortProperty="FechaInicio"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.PrTiposAvaluos1.hints.FechaInicio.label}"
                                               id="c5" align="center"
                                               filterFeatures="caseInsensitive">
                                        <f:facet name="filter">
                                            <af:inputDate value="#{vs.filterCriteria.FechaInicio}"
                                                          id="id1"/>
                                        </f:facet>
                                        <af:outputText value="#{row.FechaInicio}"
                                                       id="ot2">
                                            <af:convertDateTime pattern="#{bindings.PrTiposAvaluos1.hints.FechaInicio.format}"/>
                                        </af:outputText>
                                    </af:column>
                                    <af:column sortProperty="FechaFin"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.PrTiposAvaluos1.hints.FechaFin.label}"
                                               id="c2" align="center"
                                               filterFeatures="caseInsensitive">
                                        <f:facet name="filter">
                                            <af:inputDate value="#{vs.filterCriteria.FechaFin}"
                                                          id="id2"/>
                                        </f:facet>
                                        <af:outputText value="#{row.FechaFin}"
                                                       id="ot7">
                                            <af:convertDateTime pattern="#{bindings.PrTiposAvaluos1.hints.FechaFin.format}"/>
                                        </af:outputText>
                                    </af:column>
                                    <af:column sortProperty="Campo1"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.Campo1.hints.label}"
                                               id="c13"
                                               rendered="#{bindings.Campo1.hints.displayHint}"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.Campo1}"
                                                       id="ot17"/>
                                    </af:column>
                                    <af:column sortProperty="Campo2"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.Campo2.hints.label}"
                                               id="c10"
                                               rendered="#{bindings.Campo2.hints.displayHint}"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.Campo2}"
                                                       id="ot15"/>
                                    </af:column>
                                    <af:column sortProperty="Campo3"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.Campo3.hints.label}"
                                               id="c6"
                                               rendered="#{bindings.Campo3.hints.displayHint}"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.Campo3}"
                                                       id="ot6"/>
                                    </af:column>
                                    <af:column sortProperty="Campo4"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.Campo4.hints.label}"
                                               id="c11"
                                               rendered="#{bindings.Campo4.hints.displayHint}"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.Campo4}"
                                                       id="ot22"/>
                                    </af:column>
                                    <af:column sortProperty="Campo5"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.Campo5.hints.label}"
                                               id="c4"
                                               rendered="#{bindings.Campo5.hints.displayHint}"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.Campo5}"
                                                       id="ot10"/>
                                    </af:column>
                                    <af:column sortProperty="Campo6"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.Campo6.hints.label}"
                                               id="c19"
                                               rendered="#{bindings.Campo6.hints.displayHint}"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.Campo6}"
                                                       id="ot1"/>
                                    </af:column>
                                    <af:column sortProperty="Campo7"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.Campo7.hints.label}"
                                               id="c15"
                                               rendered="#{bindings.Campo7.hints.displayHint}"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.Campo7}"
                                                       id="ot21"/>
                                    </af:column>
                                    <af:column sortProperty="Campo8"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.Campo8.hints.label}"
                                               id="c7"
                                               rendered="#{bindings.Campo8.hints.displayHint}"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.Campo8}"
                                                       id="ot16"/>
                                    </af:column>
                                    <af:column sortProperty="Campo9"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.Campo9.hints.label}"
                                               id="c12"
                                               rendered="#{bindings.Campo9.hints.displayHint}"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.Campo9}"
                                                       id="ot4"/>
                                    </af:column>
                                    <af:column sortProperty="Campo10"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.PrTiposAvaluos1.hints.Campo10.label}"
                                               id="c18"
                                               rendered="#{bindings.Campo10.hints.displayHint}"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.Campo10}"
                                                       id="ot20"/>
                                    </af:column>
                                    <af:column sortProperty="Campo11"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.Campo11.hints.label}"
                                               id="c8"
                                               rendered="#{bindings.Campo11.hints.displayHint}"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.Campo11}"
                                                       id="ot11"/>
                                    </af:column>
                                    <af:column sortProperty="Campo12"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.Campo12.hints.label}"
                                               id="c16"
                                               rendered="#{bindings.Campo12.hints.displayHint}"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.Campo12}"
                                                       id="ot18"/>
                                    </af:column>
                                    <af:column sortProperty="Campo13"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.Campo13.hints.label}"
                                               id="c21"
                                               rendered="#{bindings.Campo13.hints.displayHint}"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.Campo13}"
                                                       id="ot5"/>
                                    </af:column>
                                    <af:column sortProperty="Campo14"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.Campo14.hints.label}"
                                               id="c14"
                                               rendered="#{bindings.Campo14.hints.displayHint}"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.Campo14}"
                                                       id="ot19"/>
                                    </af:column>
                                    <af:column sortProperty="Campo15"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.Campo15.hints.label}"
                                               id="c9"
                                               rendered="#{bindings.Campo15.hints.displayHint}"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.Campo15}"
                                                       id="ot13"/>
                                    </af:column>
                                </af:table>
                            </af:panelCollection>
                        </af:panelGroupLayout>
                    </f:facet>
                    <f:attribute name="tituloPantalla"
                                 value="#{viewcontrollerBundle['CAT.TIPOS_AVALUOS.TITULO']}"/>
                </af:pageTemplate>
                <af:popup id="popupRecBase" contentDelivery="lazyUncached"
                          childCreation="deferred"
                          popupCanceledListener="#{logout.regresarMenuDesdePopUp}">
                    <af:dialog id="d5" closeIconVisible="false" resize="off"
                               type="none">
                        <af:outputText value="#{viewcontrollerBundle['SYS.MUNICIPIO_REQ']}"
                                       id="ot9"/>
                        <f:facet name="buttonBar">
                            <af:commandButton id="cb9"
                                              text="#{viewcontrollerBundle['BOTON.ACEPTAR']}"
                                              action="#{logout.regresarMenu}"/>
                        </f:facet>
                    </af:dialog>
                </af:popup>
            </af:form>
        </af:document>
    </f:view>
</jsp:root>
