<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1"
          xmlns:f="http://java.sun.com/jsf/core"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich"
          xmlns:c="http://java.sun.com/jsp/jstl/core">
   <c:set var="viewcontrollerBundle"
          value="#{adfBundle['mx.tgc.view.ViewControllerBundle']}"/>
   <jsp:directive.page contentType="text/html;charset=UTF-8"/>
   <f:view>
      <af:document id="d1"
                   title="#{viewcontrollerBundle['CAT.VIALIDADES.TITULO']}">
         <af:messages id="m1"/>
         <af:form id="f1">
            <af:pageTemplate viewId="/catastro/template/cacoTemplate.jspx"
                             id="pt1">
               <f:facet name="top">
                  <af:panelSplitter id="ps1" splitterPosition="275">
                     <f:facet name="first">
                        <af:panelHeader text="#{viewcontrollerBundle['TIT.FILTRADO']}"
                                        id="ph2">
                           <af:panelFormLayout id="pfl3" labelAlignment="top">
                              <af:selectOneChoice label="#{viewcontrollerBundle['LOV.MUNICIPIO']}:"
                                                  id="soc1"
                                                  value="#{bindings.AaUsuariosMunicipiosVVO1.inputValue}"
                                                  shortDesc="#{bindings.AaUsuariosMunicipiosVVO1.hints.tooltip}"
                                                  autoSubmit="true"
                                                  required="#{bindings.AaUsuariosMunicipiosVVO1.hints.mandatory}"
                                                  immediate="true">
                                 <f:selectItems value="#{bindings.AaUsuariosMunicipiosVVO1.items}"
                                                id="si7"/>
                              </af:selectOneChoice>
                              <af:selectOneChoice value="#{bindings.PcLocalidadesVVO1.inputValue}"
                                                  label="#{viewcontrollerBundle['LOV.LOCALIDAD']}:"
                                                  shortDesc="#{bindings.PcLocalidadesVVO1.hints.tooltip}"
                                                  id="soc2" autoSubmit="true"
                                                  partialTriggers="soc1" styleClass="AFStretchWidth">
                                 <f:selectItems value="#{bindings.PcLocalidadesVVO1.items}"
                                                id="si2"/>
                              </af:selectOneChoice>
                           </af:panelFormLayout>
                           <af:spacer width="10" height="10" id="s3"/>
                           <af:panelBox id="pb1"
                                        text="#{viewcontrollerBundle['TIT.AVANZADO']}"
                                        disclosed="false">
                              <af:panelGroupLayout id="panelBusqueda"
                                                   binding="#{viewScope.CataVialidadesBean.panelBusqueda}"/>
                           </af:panelBox>
                           <f:facet name="legend">
                              <af:outputFormatted id="of1"
                                                  styleUsage="pageStamp"
                                                  styleClass="AFStretchWidth"
                                                  value="#{viewcontrollerBundle['TIP.FILTRADO_INICIAL']} #{viewcontrollerBundle['NOM.VIALIDADES']}"/>
                           </f:facet>
                        </af:panelHeader>
                     </f:facet>
                     <f:facet name="second">
                        <af:panelSplitter id="ps2" orientation="vertical"
                                          splitterPosition="200">
                           <f:facet name="first">             
                              <af:panelGroupLayout xmlns:af="http://xmlns.oracle.com/adf/faces/rich"
                                                   id="pgl3"
                                                   styleClass="AFStretchWidth"
                                                   layout="scroll">
                                 <af:panelGroupLayout id="pgl4"
                                                      layout="vertical">
                                    <af:outputFormatted id="outputFormatted2"
                                                        styleUsage="pageStamp"
                                                        visible="#{pageFlowScope.catalogo eq 'false'}"
                                                        styleClass="AFStretchWidth"
                                                        value="#{viewcontrollerBundle['TIP.SELECCIONAR']}"/>
                                    <af:outputFormatted value="#{viewcontrollerBundle['TIP.MSG_TABLA']}"
                                                        id="outputFormatted3"
                                                        styleUsage="pageStamp"
                                                        styleClass="AFStretchWidth"
                                                        visible="#{pageFlowScope.catalogo eq 'true'}"/>
                                    <af:spacer width="10" height="5" id="s2"/>
                                 </af:panelGroupLayout>
                               
                                 <af:panelCollection id="pc1"
                                                     inlineStyle="height:540.0px;"
                                                     featuresOff="freeze detach wrap"
                                                     styleClass="AFStretchWidth">
                                    <f:facet name="toolbar">
                                       <af:toolbar id="t2">
                                          <af:commandButton text="#{viewcontrollerBundle['BOTON.AGREGAR']}"
                                                            id="cb3"
                                                            visible="#{pageFlowScope.catalogo eq 'true'}"
                                                            partialTriggers="t1"
                                                            actionListener="#{viewScope.CataVialidadesBean.muestrapopDml}">
                                             <af:setPropertyListener from="nuevo"
                                                                     to="#{pageFlowScope.operacion}"
                                                                     type="action"/>
                                          </af:commandButton>
                                          <af:commandButton text="#{viewcontrollerBundle['BOTON.MODIFICAR']}"
                                                            id="cb5"
                                                            visible="#{pageFlowScope.catalogo eq 'true'}"
                                                            actionListener="#{viewScope.CataVialidadesBean.muestrapopDml}">
                                             <af:setPropertyListener from="modificar"
                                                                     to="#{pageFlowScope.operacion}"
                                                                     type="action"/>
                                          </af:commandButton>
                                          <af:commandButton immediate="true"
                                                            text="#{viewcontrollerBundle['BOTON.BORRAR']}"
                                                            visible="#{pageFlowScope.catalogo eq 'true'}"
                                                            id="cb4"
                                                            useWindow="true">
                                             <af:showPopupBehavior popupId="borrarPopUp"/>
                                          </af:commandButton>
                                          <af:commandButton text="#{viewcontrollerBundle['BOTON.SELECCIONAR']}"
                                                            visible="#{pageFlowScope.catalogo eq 'false'}"
                                                            id="cb6"
                                                            action="#{viewScope.CataVialidadesBean.subirValores}"/>
                                          <af:popup id="borrarPopUp">
                                             <af:dialog id="d2" type="none"
                                                        title="#{viewcontrollerBundle['TIT.CONFIRMAR']}"
                                                        closeIconVisible="false"
                                                        resize="off">
                                                <af:outputText value="#{viewcontrollerBundle['SYS.BORRAR']}"
                                                               id="ot23"/>
                                                <f:facet name="buttonBar">
                                                   <af:group id="g1">
                                                      <af:commandButton text="#{viewcontrollerBundle['BOTON.ACEPTAR']}"
                                                                        id="commandButton1"
                                                                        action="#{viewScope.CataVialidadesBean.borrarRegistro}"/>
                                                      <af:commandButton text="#{viewcontrollerBundle['BOTON.CANCELAR']}"
                                                                        id="cb7"/>
                                                   </af:group>
                                                </f:facet>
                                             </af:dialog>
                                          </af:popup>
                                          <af:popup id="cancelarPopUp">
                                             <af:dialog id="d3"
                                                        title="#{viewcontrollerBundle['TIT.CONFIRMAR']}"
                                                        type="cancel"
                                                        closeIconVisible="false"
                                                        resize="off"
                                                        dialogListener="#{viewScope.CataVialidadesBean.cancelAction}">
                                                <af:outputText value="#{pageFlowScope.operacion eq 'nuevo' ? viewcontrollerBundle['SYS.ALTA'] : viewcontrollerBundle['SYS.MODIFICACION'] }"
                                                               id="ot24"/>
                                                <f:facet name="buttonBar">
                                                   <af:group id="g2">
                                                      <af:commandButton text="#{viewcontrollerBundle['BOTON.ACEPTAR']}"
                                                                        immediate="true"
                                                                        id="cb8"
                                                                        actionListener="#{viewScope.CataVialidadesBean.cerrarPopupDml}">
                                                         <af:resetActionListener/>
                                                         <af:setActionListener from="false"
                                                                               to="#{bindings.modifica1.inputValue}"/>
                                                      </af:commandButton>
                                                   </af:group>
                                                </f:facet>
                                             </af:dialog>
                                          </af:popup>
                                          <af:popup id="popupDml"
                                                    binding="#{viewScope.CataVialidadesBean.popupDml}"
                                                    popupFetchListener="#{viewScope.CataVialidadesBean.formaPopupFetchListener}"
                                                    resetEditableValues="whenCanceled"
                                                    popupCanceledListener="#{viewScope.CataVialidadesBean.cerrarPopupEscape}">
                                             <af:dialog id="d4"
                                                        closeIconVisible="false"
                                                        resize="off" type="none"
                                                        title="#{viewcontrollerBundle['TIT.AGREGAR_MODIFICAR']}">
                                                <f:facet name="buttonBar">
                                                   <af:group id="g3">
                                                      <af:commandButton id="cb1"
                                                                        visible="#{pageFlowScope.catalogo eq 'true'}"
                                                                        action="#{viewScope.CataVialidadesBean.insertarRegistro}"
                                                                        text="#{viewcontrollerBundle['BOTON.ACEPTAR']}"
                                                                        partialSubmit="true"/>
                                                      <af:commandButton text="#{viewcontrollerBundle['BOTON.CANCELAR']}"
                                                                        id="cb2"
                                                                        immediate="true"
                                                                        visible="#{pageFlowScope.catalogo eq 'true'}"
                                                                        useWindow="true">
                                                         <af:showPopupBehavior popupId="cancelarPopUp"/>
                                                      </af:commandButton>
                                                   </af:group>
                                                </f:facet>
                                                <af:panelGroupLayout id="pgl1"
                                                                     layout="vertical">
                                                   <af:outputFormatted id="outputFormatted1"
                                                                       styleUsage="pageStamp"
                                                                       styleClass="AFStretchWidth"
                                                                       visible="#{bindings.modifica1.inputValue eq 'true'}"
                                                                       shortDesc="#{viewcontrollerBundle['TIP.AGREGAR_MODIFICAR']}"
                                                                       value="#{viewcontrollerBundle['TIP.AGREGAR_MODIFICAR']}"/>
                                                   <af:outputFormatted value="#{viewcontrollerBundle['TIP.CAMPOS_OBLIGATORIOS']}"
                                                                       id="of2"
                                                                       styleUsage="pageStamp"
                                                                       visible="#{bindings.modifica1.inputValue eq 'true'}"/>
                                                </af:panelGroupLayout>
                                                <af:panelFormLayout id="pfl4"
                                                                    labelAlignment="top">
                                                   <af:inputText value="#{bindings.ClaveVialidad.inputValue}"
                                                                 label="#{bindings.ClaveVialidad.hints.label}:"
                                                                 required="#{bindings.ClaveVialidad.hints.mandatory}"
                                                                 columns="10"
                                                                 maximumLength="#{bindings.ClaveVialidad.hints.precision}"
                                                                 shortDesc="#{bindings.ClaveVialidad.hints.tooltip}"
                                                                 id="it6"
                                                                 validator="#{viewScope.CataVialidadesBean.claveVialidadValidator}"
                                                                 autoSubmit="true">
                                                      <f:validator binding="#{bindings.ClaveVialidad.validator}"/>
                                                      <f:converter converterId="StringAsUppercase"/>
                                                   </af:inputText>
                                                   <af:selectOneChoice value="#{bindings.TipoVialidad.inputValue}"
                                                                       label="#{bindings.TipoVialidad.hints.label}:"
                                                                       required="#{bindings.TipoVialidad.hints.mandatory}"
                                                                       shortDesc="#{bindings.TipoVialidad.hints.tooltip}"
                                                                       id="soc5">
                                                      <f:selectItems value="#{bindings.TipoVialidad.items}"
                                                                     id="si3"/>
                                                   </af:selectOneChoice>
                                                   <af:inputText value="#{bindings.NombreVialidad.inputValue}"
                                                                 label="#{bindings.NombreVialidad.hints.label}:"
                                                                 required="#{bindings.NombreVialidad.hints.mandatory}"
                                                                 columns="25"
                                                                 maximumLength="#{bindings.NombreVialidad.hints.precision}"
                                                                 shortDesc="#{bindings.NombreVialidad.hints.tooltip}"
                                                                 id="it15">
                                                      <f:validator binding="#{bindings.NombreVialidad.validator}"/>
                                                      <f:converter converterId="StringAsUppercase"/>
                                                   </af:inputText>
                                                   <af:inputText value="#{bindings.NombreCorto.inputValue}"
                                                                 label="#{bindings.NombreCorto.hints.label}:"
                                                                 required="#{bindings.NombreCorto.hints.mandatory}"
                                                                 columns="25"
                                                                 maximumLength="#{bindings.NombreCorto.hints.precision}"
                                                                 shortDesc="#{bindings.NombreCorto.hints.tooltip}"
                                                                 id="it13">
                                                      <f:validator binding="#{bindings.NombreCorto.validator}"/>
                                                      <f:converter converterId="StringAsUppercase"/>
                                                   </af:inputText>
                                                   <af:inputDate value="#{bindings.FechaAlta.inputValue}"
                                                                 label="#{bindings.FechaAlta.hints.label}:"
                                                                 required="#{bindings.FechaAlta.hints.mandatory}"
                                                                 shortDesc="#{bindings.FechaAlta.hints.tooltip}"
                                                                 id="id1">
                                                      <f:validator binding="#{bindings.FechaAlta.validator}"/>
                                                      <f:converter converterId="StringAsUppercase"/>
                                                      <af:convertDateTime pattern="#{bindings.FechaAlta.format}"/>
                                                   </af:inputDate>
                                                   
                                                   <af:selectOneChoice value="#{bindings.Estatus.inputValue}"
                                                                       label="#{bindings.Estatus.hints.label}:"
                                                                       required="#{bindings.Estatus.hints.mandatory}"
                                                                       shortDesc="#{bindings.Estatus.hints.tooltip}"
                                                                       id="soc3">
                                                      <f:selectItems value="#{bindings.Estatus.items}"
                                                                     id="si4"/>
                                                   </af:selectOneChoice>
                                                   <af:inputText value="#{bindings.Campo1.inputValue}"
                                                                 label="#{bindings.Campo1.hints.label}:"
                                                                 required="#{bindings.Campo1.hints.mandatory}"
                                                                 columns="20"
                                                                 maximumLength="#{bindings.Campo1.hints.precision}"
                                                                 shortDesc="#{bindings.Campo1.hints.tooltip}"
                                                                 id="it8"
                                                                 rendered="#{bindings.Campo1.hints.displayHint}">
                                                      <f:validator binding="#{bindings.Campo1.validator}"/>
                                                      <f:converter converterId="StringAsUppercase"/>
                                                   </af:inputText>
                                                   <af:inputText value="#{bindings.Campo2.inputValue}"
                                                                 label="#{bindings.Campo2.hints.label}:"
                                                                 required="#{bindings.Campo2.hints.mandatory}"
                                                                 columns="20"
                                                                 maximumLength="#{bindings.Campo2.hints.precision}"
                                                                 shortDesc="#{bindings.Campo2.hints.tooltip}"
                                                                 id="it7"
                                                                 rendered="#{bindings.Campo2.hints.displayHint}">
                                                      <f:validator binding="#{bindings.Campo2.validator}"/>
                                                   </af:inputText>
                                                   <af:inputText value="#{bindings.Campo3.inputValue}"
                                                                 label="#{bindings.Campo3.hints.label}:"
                                                                 required="#{bindings.Campo3.hints.mandatory}"
                                                                 columns="20"
                                                                 maximumLength="#{bindings.Campo3.hints.precision}"
                                                                 shortDesc="#{bindings.Campo3.hints.tooltip}"
                                                                 id="it10"
                                                                 rendered="#{bindings.Campo3.hints.displayHint}">
                                                      <f:validator binding="#{bindings.Campo3.validator}"/>
                                                   </af:inputText>
                                                   <af:inputText value="#{bindings.Campo4.inputValue}"
                                                                 label="#{bindings.Campo4.hints.label}:"
                                                                 required="#{bindings.Campo4.hints.mandatory}"
                                                                 columns="20"
                                                                 maximumLength="#{bindings.Campo4.hints.precision}"
                                                                 shortDesc="#{bindings.Campo4.hints.tooltip}"
                                                                 id="it11"
                                                                 rendered="#{bindings.Campo4.hints.displayHint}">
                                                      <f:validator binding="#{bindings.Campo4.validator}"/>
                                                   </af:inputText>
                                                   <af:inputText value="#{bindings.Campo5.inputValue}"
                                                                 label="#{bindings.Campo5.hints.label}:"
                                                                 required="#{bindings.Campo5.hints.mandatory}"
                                                                 columns="20"
                                                                 maximumLength="#{bindings.Campo5.hints.precision}"
                                                                 shortDesc="#{bindings.Campo5.hints.tooltip}"
                                                                 id="it12"
                                                                 rendered="#{bindings.Campo5.hints.displayHint}">
                                                      <f:validator binding="#{bindings.Campo5.validator}"/>
                                                   </af:inputText>
                                                   <af:inputText value="#{bindings.Campo6.inputValue}"
                                                                 label="#{bindings.Campo6.hints.label}:"
                                                                 required="#{bindings.Campo6.hints.mandatory}"
                                                                 columns="20"
                                                                 maximumLength="#{bindings.Campo6.hints.precision}"
                                                                 shortDesc="#{bindings.Campo6.hints.tooltip}"
                                                                 rendered="#{bindings.Campo6.hints.displayHint}"
                                                                 id="it5">
                                                      <f:validator binding="#{bindings.Campo6.validator}"/>
                                                   </af:inputText>
                                                   <af:inputText value="#{bindings.Campo7.inputValue}"
                                                                 label="#{bindings.Campo7.hints.label}:"
                                                                 required="#{bindings.Campo7.hints.mandatory}"
                                                                 columns="20"
                                                                 maximumLength="#{bindings.Campo7.hints.precision}"
                                                                 shortDesc="#{bindings.Campo7.hints.tooltip}"
                                                                 id="it14"
                                                                 rendered="#{bindings.Campo7.hints.displayHint}">
                                                      <f:validator binding="#{bindings.Campo7.validator}"/>
                                                   </af:inputText>
                                                   <af:inputText value="#{bindings.Campo8.inputValue}"
                                                                 label="#{bindings.Campo8.hints.label}:"
                                                                 required="#{bindings.Campo8.hints.mandatory}"
                                                                 columns="20"
                                                                 maximumLength="#{bindings.Campo8.hints.precision}"
                                                                 shortDesc="#{bindings.Campo8.hints.tooltip}"
                                                                 rendered="#{bindings.Campo8.hints.displayHint}"
                                                                 id="it4">
                                                      <f:validator binding="#{bindings.Campo8.validator}"/>
                                                   </af:inputText>
                                                   <af:inputText value="#{bindings.Campo9.inputValue}"
                                                                 label="#{bindings.Campo9.hints.label}:"
                                                                 required="#{bindings.Campo9.hints.mandatory}"
                                                                 columns="20"
                                                                 maximumLength="#{bindings.Campo9.hints.precision}"
                                                                 shortDesc="#{bindings.Campo9.hints.tooltip}"
                                                                 id="it16"
                                                                 rendered="#{bindings.Campo9.hints.displayHint}">
                                                      <f:validator binding="#{bindings.Campo9.validator}"/>
                                                   </af:inputText>
                                                   <af:inputText value="#{bindings.Campo10.inputValue}"
                                                                 label="#{bindings.Campo10.hints.label}:"
                                                                 required="#{bindings.Campo10.hints.mandatory}"
                                                                 columns="20"
                                                                 maximumLength="#{bindings.Campo10.hints.precision}"
                                                                 shortDesc="#{bindings.Campo10.hints.tooltip}"
                                                                 id="it17"
                                                                 rendered="#{bindings.Campo10.hints.displayHint}">
                                                      <f:validator binding="#{bindings.Campo10.validator}"/>
                                                   </af:inputText>
                                                </af:panelFormLayout>
                                             </af:dialog>
                                          </af:popup>
                                       </af:toolbar>
                                    </f:facet>
                                    <af:table value="#{bindings.PcVialidadesVO1.collectionModel}"
                                              var="row"
                                              rows="#{bindings.PcVialidadesVO1.rangeSize}"
                                              emptyText="#{bindings.PcVialidadesVO1.viewable ? 'No hay registros que mostrar.' : 'Acceso denegado.'}"
                                              fetchSize="#{bindings.PcVialidadesVO1.rangeSize}"
                                              rowBandingInterval="0"
                                              filterModel="#{bindings.PcVialidadesVO1Query.queryDescriptor}"
                                              filterVisible="false"
                                              queryListener="#{bindings.PcVialidadesVO1Query.processQuery}"
                                              varStatus="vs"
                                              selectedRowKeys="#{bindings.PcVialidadesVO1.collectionModel.selectedRow}"
                                              selectionListener="#{bindings.PcVialidadesVO1.collectionModel.makeCurrent}"
                                              rowSelection="single" id="t1"
                                              partialTriggers=":::soc2 ::cb3 ::cb8 ::cb1"
                                              binding="#{viewScope.CataVialidadesBean.tabla}"
                                              columnStretching="column:c5"
                                              styleClass="AFStretchWidth"
                                              immediate="true">
                                       <af:column sortProperty="ClaveVialidad"
                                                  filterable="true"
                                                  sortable="false"
                                                  headerText="#{bindings.PcVialidadesVO1.hints.ClaveVialidad.label}"
                                                  id="c1" width="100"
                                                  filterFeatures="caseInsensitive">
                                          <af:outputText value="#{row.ClaveVialidad}"
                                                         id="ot1"/>
                                       </af:column>
                                       <af:column sortProperty="TipoVialidad"
                                                  filterable="true"
                                                  sortable="false"
                                                  headerText="#{bindings.PcVialidadesVO1.hints.TipoVialidad.label}"
                                                  id="c2" width="100"
                                                  filterFeatures="caseInsensitive">
                                          <af:selectOneChoice value="#{row.bindings.TipoVialidad.inputValue}"
                                                              label="#{row.bindings.TipoVialidad.label}"
                                                              required="#{bindings.PcVialidadesVO1.hints.TipoVialidad.mandatory}"
                                                              shortDesc="#{bindings.PcVialidadesVO1.hints.TipoVialidad.tooltip}"
                                                              id="soc6"
                                                              readOnly="true">
                                             <f:selectItems value="#{row.bindings.TipoVialidad.items}"
                                                            id="si5"/>
                                          </af:selectOneChoice>
                                          <f:facet name="filter">
                                             <af:selectOneChoice label="Label 3" id="soc7"
                                                                 value="#{vs.filterCriteria.Estatus}" autoSubmit="true">
                                                <f:selectItem itemValue="" itemLabel="" id="si1"/>
                                                <af:forEach var="listrow"
                                                            items="#{bindings.AaListasValoresEstatusVVO11.children}">
                                                   <f:selectItem id="si8" itemValue="#{listrow.ValorMinimo}"
                                                                 itemLabel="#{listrow.DescripcionCorta}"/>
                                                </af:forEach>
                                             </af:selectOneChoice>
                                          </f:facet>
                                       </af:column>
                                       <af:column sortProperty="NombreVialidad"
                                                  filterable="true"
                                                  sortable="false"
                                                  headerText="#{bindings.PcVialidadesVO1.hints.NombreVialidad.label}"
                                                  id="c5" width="120"
                                                  minimumWidth="12"
                                                  filterFeatures="caseInsensitive">
                                          <af:outputText value="#{row.NombreVialidad}"
                                                         id="ot5"/>
                                       </af:column>
                                       <af:column sortProperty="NombreCorto"
                                                  filterable="true"
                                                  sortable="false"
                                                  headerText="#{bindings.PcVialidadesVO1.hints.NombreCorto.label}"
                                                  id="c3" width="115"
                                                  filterFeatures="caseInsensitive">
                                          <af:outputText value="#{row.NombreCorto}"
                                                         id="ot2"/>
                                       </af:column>
                                       <af:column sortProperty="FechaAlta"
                                                  filterable="true"
                                                  sortable="false"
                                                  headerText="#{bindings.PcVialidadesVO1.hints.FechaAlta.label}"
                                                  id="c7" width="108"
                                                  align="center"
                                                  filterFeatures="caseInsensitive">
                                          <f:facet name="filter">
                                             <af:inputDate value="#{vs.filterCriteria.FechaAlta}"
                                                           id="id2"/>
                                          </f:facet>
                                          <af:outputText value="#{row.FechaAlta}"
                                                         id="ot3">
                                             <af:convertDateTime pattern="#{bindings.PcVialidadesVO1.hints.FechaAlta.format}"/>
                                          </af:outputText>
                                       </af:column>
                                       <af:column sortProperty="#{bindings.PcVialidadesVO1.hints.Estatus.label}"
                                                  filterable="true"
                                                  sortable="false"
                                                  headerText="#{bindings.PcVialidadesVO1.hints.Estatus.label}"
                                                  id="c4" width="60"
                                                  filterFeatures="caseInsensitive">
                                          <af:selectOneChoice value="#{row.bindings.Estatus.inputValue}"
                                                              label="#{row.bindings.Estatus.label}"
                                                              required="#{bindings.PcVialidadesVO1.hints.Estatus.mandatory}"
                                                              shortDesc="#{bindings.PcVialidadesVO1.hints.Estatus.tooltip}"
                                                              id="soc4"
                                                              readOnly="true">
                                             <f:selectItems value="#{row.bindings.Estatus.items}"
                                                            id="si6"/>
                                          </af:selectOneChoice>
                                          <f:facet name="filter">
                                             <af:selectOneChoice label="Label 3" id="soc55"
                                                                 value="#{vs.filterCriteria.Estatus}" autoSubmit="true">
                                                <f:selectItem itemValue="" itemLabel="" id="si55"/>
                                                <af:forEach var="listrow"
                                                            items="#{bindings.AaListasValoresEstatusVVO1.children}">
                                                   <f:selectItem id="si56" itemValue="#{listrow.ValorMinimo}"
                                                                 itemLabel="#{listrow.DescripcionCorta}"/>
                                                </af:forEach>
                                             </af:selectOneChoice>
                                          </f:facet>
                                       </af:column>
                                       <af:column sortProperty="Campo1"
                                                  filterable="true"
                                                  sortable="false"
                                                  headerText="#{bindings.Campo1.hints.label}"
                                                  id="c6" width="32"
                                                  rendered="#{bindings.Campo1.hints.displayHint}"
                                                  filterFeatures="caseInsensitive">
                                          <af:outputText value="#{row.Campo1}"
                                                         id="ot4"/>
                                       </af:column>
                                       <af:column headerText="#{bindings.Campo2.hints.label}"
                                                  id="c8"
                                                  rendered="#{bindings.Campo2.hints.displayHint}"
                                                  filterable="true"
                                                  filterFeatures="caseInsensitive">
                                          <af:outputText value="#{row.Campo2}"
                                                         id="ot8"/>
                                       </af:column>
                                       <af:column headerText="#{bindings.Campo3.hints.label}"
                                                  id="c9"
                                                  rendered="#{bindings.Campo3.hints.displayHint}"
                                                  filterable="true"
                                                  filterFeatures="caseInsensitive">
                                          <af:outputText value="#{row.Campo3}"
                                                         id="ot9"/>
                                       </af:column>
                                       <af:column headerText="#{bindings.Campo4.hints.label}"
                                                  id="c10"
                                                  rendered="#{bindings.Campo4.hints.displayHint}"
                                                  filterable="true"
                                                  filterFeatures="caseInsensitive">
                                          <af:outputText value="#{row.Campo4}"
                                                         id="ot10"/>
                                       </af:column>
                                       <af:column headerText="#{bindings.Campo5.hints.hints.label}"
                                                  id="c11"
                                                  rendered="#{bindings.Campo5.hints.displayHint}"
                                                  filterable="true"
                                                  filterFeatures="caseInsensitive">
                                          <af:outputText value="#{row.Campo5}"
                                                         id="ot11"/>
                                       </af:column>
                                       <af:column headerText="#{bindings.Campo6.hints.label}"
                                                  id="c12"
                                                  rendered="#{bindings.Campo6.hints.displayHint}"
                                                  filterable="true"
                                                  filterFeatures="caseInsensitive">
                                          <af:outputText value="#{row.Campo6}"
                                                         id="ot13"/>
                                       </af:column>
                                       <af:column headerText="#{bindings.Campo7.hints.label}"
                                                  id="c13"
                                                  rendered="#{bindings.Campo7.hints.displayHint}"
                                                  filterable="true"
                                                  filterFeatures="caseInsensitive">
                                          <af:outputText value="#{row.Campo7}"
                                                         id="ot14"/>
                                       </af:column>
                                       <af:column headerText="#{bindings.Campo8.hints.label}"
                                                  id="c14"
                                                  rendered="#{bindings.Campo8.hints.displayHint}"
                                                  filterable="true"
                                                  filterFeatures="caseInsensitive">
                                          <af:outputText value="#{row.Campo8}"
                                                         id="ot15"/>
                                       </af:column>
                                       <af:column headerText="#{bindings.Campo9.hints.label}}"
                                                  id="c15"
                                                  rendered="#{bindings.Campo9.hints.displayHint}"
                                                  filterable="true"
                                                  filterFeatures="caseInsensitive">
                                          <af:outputText value="#{row.Campo9}"
                                                         id="ot16"/>
                                       </af:column>
                                       <af:column headerText="#{bindings.Campo10.hints.label}"
                                                  id="c16"
                                                  rendered="#{bindings.Campo10.hints.displayHint}"
                                                  filterable="true"
                                                  filterFeatures="caseInsensitive">
                                          <af:outputText value="#{row.Campo10}"
                                                         id="ot17"/>
                                       </af:column>
                                    </af:table>
                                 </af:panelCollection>                                  
                              </af:panelGroupLayout>
                           </f:facet>
                        </af:panelSplitter>
                     </f:facet>
                  </af:panelSplitter>
               </f:facet>
               <f:attribute name="tituloPantalla"
                            value="#{viewcontrollerBundle['CAT.VIALIDADES.TITULO']}"/>
               <f:attribute name="mostrarLogo"
                            value="#{pageFlowScope.catalogo}"/>
            </af:pageTemplate>
            <af:popup id="popupRecBase" contentDelivery="lazyUncached"
                      childCreation="deferred"
                      popupCanceledListener="#{logout.regresarMenuDesdePopUp}">
               <af:dialog id="d5" closeIconVisible="false" resize="off"
                          type="none">
                  <af:outputText value="#{viewcontrollerBundle['SYS.MUNICIPIO_REQ']}"
                                 id="ot6"/>
                  <f:facet name="buttonBar">
                     <af:commandButton id="cb9"
                                       text="#{viewcontrollerBundle['BOTON.ACEPTAR']}"
                                       action="#{logout.regresarMenu}"
                                       immediate="true"/>
                  </f:facet>
               </af:dialog>
            </af:popup>
         </af:form>
        </af:document>
   </f:view>
</jsp:root>